@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    /*===== COLORS =====*/
    --white: #fff;
    --black: #222222;
    --dark-blue: #274266;
    --purple: #637efe;
    --blue: #148cfb;
    --gray: #8d949b;

    /*===== TEXT =====*/
    --title-size: 800;
    --subtitle-size: 500;
    --text-size: 400; 
}
*{  
    margin: 0;
    padding: 0;
    box-sizing: auto;
    font-family: Inter;
    background-color: var(--black);
    
}

body{
    overflow-x: hidden;
    height: 100%;
    #overlay{
        position: fixed;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        z-index: 10 !important;
        mix-blend-mode: soft-light;
        opacity: .8;
        pointer-events: none;
        user-select: none;
    }
}

#light-blue{
    user-select: none;
    position: absolute;
    top: -200px;
    left: -1000px;
    width: 1800px;
    background-color: transparent;
    opacity: .4;
    pointer-events: none;
}
#light-purple{
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 20px;
    right: -1200px;
    width: 1800px;
    background-color: transparent;
    opacity: .4;
}
header{
    
    height: 100vh;
    background-color: var(--white);
}
.header{
    padding-top: 16px;
    list-style: none;
    color: var(--gray);
    text-decoration: none;
    font-weight: var(--subtitle-size);
    display: flex;
    justify-content: center;
    
    background-color: var(--white);
}

.item-header{
    
    padding: 12px 30px;
    z-index: 1;
    font-size: 14px;
    cursor: pointer;
    /* will-change: transform; */
    background-color: var(--white);
}
.item-header:hover{
    color:var(--black);
/*     backface-visibility: hidden; */
}

.button-header{
    background-color: var(--white);
    padding: 12px 20px;
    margin-left: 28px;;
    border: 2px solid var(--blue);
    -webkit-box-shadow: 2px 10px 0px 0px #148cfb;
-moz-box-shadow: 2px 0px 0px 0px #148cfb;
box-shadow: 2px 2px 0px 0px #148cfb;
border-radius: 8px;
    color: var(--blue);
    transition: 0.3s;

}
.button-header:hover{
    transform: scale(1.02);
    border: 2px solid var(--black);
    -webkit-box-shadow: 2px 10px 0px 0px var(--black);
-moz-box-shadow: 2px 0px 0px 0px var(--black);
box-shadow: 2px 2px 0px 0px var(--black);
border-radius: 8px;
color:var(--black);
}
#title{
    background-color: var(--white);
    margin: 0;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner-title{
    letter-spacing: -3px;
    background-color: var(--white);
    color: var(--gray);
    font-weight: var(--title-size);
    justify-content: center;
    text-align: center;
    font-size: 40px;
}
#banner-title2{
    letter-spacing: -3px;
    background-color: var(--white);
    line-height: 80px;
    font-size:80px;
    color: var(--gray);
    font-weight: var(--title-size);
    justify-content: center;
    text-align: center;
}

#hand{
    background-color: var(--white);
    width: 40px;
}
header div p{
    background-color: var(--white);
    color: var(--dark-blue);
    font-weight: var(--subtitle-size);
    font-size: 26px;
    text-align: center;
    letter-spacing: -2px;
}
#arrow-button {
    background-color: var(--white);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 100%;
    padding: 0.6vw;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--gray);
}

#arrow-button:hover {
    transform: scale(1.1);
}

#arrow-in-button {
    border: 1px solid var(--gray);

    background-color: var(--white);
    width: 12px;
    border: none;
    background-color: transparent;
    margin-top: 0.9px;
    margin-left: -0.9px;    

}


 /* ==== SECTOPM WHO I AM ====*/
#section-who-i-am{
    display: flex;
    padding-bottom: 130px;
    background-color: var(--white);
    border-radius: 0 0 80px 80px;
    display: flex;
    align-items: center;
}

#section-who-i-am h1{
    background-color: transparent;
    color: var(--gray);
    font-weight: var(--title-size);
    font-size: 4vw;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    
    }
#about-me h2{
    background-color: var(--white);
    color: var(--dark-blue);
    font-weight: var(--subtitle-size);
    margin-left: -110px;
    font-size: 3vw;
}
#about-me p:nth-child(2){
    background-color: var(--white);
    color: var(--gray);
    padding-top: 10px;
    margin-left: -110px;
    font-size: 1.5vw;
    font-weight: var(--text-size);
}
#about-me p{
    background-color: var(--white);
    color: var(--gray);
    padding-top: 10px;
    margin-left: -110px;
    font-size: 1.5vw;
    font-weight: var(--text-size);
}
#about-me p:nth-child(3){
    background-color: var(--white);
    color: var(--dark-blue)
}
#about-me p:nth-child(4){
    background-color: var(--white);
    margin-top: -2px;
    font-size: 1.2vw;
}
#section-who-i-am img{
    background-color: var(--white);
    width: 40vw;
    height: auto;
}

/* ==== SKILLS SECTION ====*/

#skills{
    background-color: var(--black);
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills h1{
    margin-top: 80px;
    font-size: 6vw;
    letter-spacing: -6px;
    color: var(--white);
}

#container{
    max-width: 66%;
    display: grid;
    grid-template-columns: 20vw 40vw;
    gap: 6%;
    justify-content: center;
    
}
#container div:nth-child(2) h2{
    margin-bottom: 10px;

}
#container div:nth-child(2){
    align-content: center;
    color: var(--white);
    padding-left: 60px;
}

#word-skills{
    color: var(--blue);
}
#skills h1 span{
    color: var(--blue);
}
.button-skill{
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    cursor: pointer;
    color: white;
    font-weight: var(--title-size);
    border-radius: 100px;
    min-width: 240px;
    margin-top: 12px;
    padding-left: 40px;
    padding-right: 0px;
}
.button-skill-2{
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    cursor: pointer;
    color: white;
    font-weight: var(--title-size);
    border-radius: 100px;
    min-width: 240px;
    margin-top: 12px;
    padding-left: 40px;
    padding-right: 0px;
}
.svg-python{
    position: relative;
    margin-right: 10px;
    padding: 10px 14px 12px  4px;
    flex-direction: column;
    color: white;
    height: auto;
    width: 26px;
    fill: var(--white);
    background-color: transparent;
    overflow: visible;
}

.button-skill:active{
    background-color: var(--white);
    color: var(--dark-blue);
    .skill-button{
        color: var(--dark-blue);
    }
    .arrow-right{
        visibility: visible;
        background-color: transparent;
    }
}
.button-skill-2:active{
    background-color: var(--white);
    color: var(--dark-blue);
    .skill-button-2{
        fill: var(--dark-blue);
    }
    .arrow-right{
        visibility: visible;
        background-color: transparent;
    }
}
.skill-button{
    
    position: relative;
    margin-right: 10px;
    padding: 4px 0px 4px  4px;
    background-color: transparent;
    flex-direction: column;
    color: white;
    height: auto;
    font-size: 40px;
    border: none;
}

.arrow-right{
    visibility: hidden;
    margin-left: 8px;
}

#light-blue2{
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 1400px;
    right: -1400px;
    width: 1800px;
    background-color: transparent;
    opacity: .4;
}
#light-purple2{
    user-select: none;
    position: absolute;
    top: 1400px;
    left: -1000px;
    width: 1300px;
    background-color: transparent;
    opacity: .4;
    pointer-events: none;
}

/* ==== PORTFOLIO ==== */

#portfolio{
    position: relative;
    z-index: 3;
    background-color: var(--white);
    padding: 100px;
    border-radius: 80px;
}

#portfolio h1 {
    background-color: var(--white);
    color: var(--gray);
    font-size: 6vw;
    font-weight: var(--title-size);
    letter-spacing: -6px;
}
#portfolio h2{
    margin-top: -10px;
    background-color: var(--white);
    color: var(--dark-blue);
    font-weight: var(--subtitle-size);
}

#container-portfolio{
    background-color: var(--white);
    display:grid;
    grid-template-columns: 22%22%22%22%22%;
    overflow:scroll ;

}
.evidence{
    border: 1px solid var(--gray);
    border-radius: 36px;
    padding: 14px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white);
    
}
.evidence img{
    width: 100%;
    margin-bottom: 20px;
    opacity: .3;
    border-radius: 30px;
}
.evidence h2{
    font-size: 17px;
}
.evidence p{
    background-color: var(--white);
    color: var(--gray);
    font-size: 12px;
    margin-top: 6px;
}
#portfolio-1{
    border: none;
    background-color: var(--blue);
    padding: 8px;
    padding-right: 16px;
    border-radius: 40px;
    color: var(--white);
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}
#portfolio-1:hover{
    transform: scale(0.95);
}
#portfolio-1 p{
    color: var(--white);
    background-color: transparent;
    font-size: 12px;
    margin-top: 0px;
}
#portfolio-1 i{
    background-color: transparent;
    color: white;
    font-size: 16px;
    height: auto;
    padding-left: 4px;
    padding-right: 2px;
}
#portfolio-2{
    border: none;
    background-color: var(--purple);
    padding: 8px;
    padding-right: 16px;
    border-radius: 40px;
    color: var(--white);
    display: flex;
    justify-content: center;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.3s;
}
#portfolio-2:hover{
    transform: scale(0.95);
}
#portfolio-2 p{
    color: var(--white);
    background-color: transparent;
    font-size: 12px;
    margin-top: 0px;
}
#portfolio-2 i{
    background-color: transparent;
    color: white;
    font-size: 16px;
    height: auto;
    padding-left: 4px;
    padding-right: 2px;
}

/* ==== ESTUDIOS ==== */


section{
    margin-top: 90px;
    margin-left: -60px;
    padding: 20px;
    width: 90vw;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--white);
    z-index: 2;
}
#what-i-studied{
    display: inline-block;
    width: 35%;
    height: 70vh;
    background-color: var(--black);
    padding: 30px;
    border-radius: 30px;
    align-self: center;
    overflow: auto;
    margin-right: 160px;
    
}

#what-i-studied::-webkit-scrollbar{
    width: 6px;

}
#what-i-studied::-webkit-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 50px;
}

#what-i-studied p{
    color: var(--gray );
    font-weight: 500;
}

#what-i-studied div div h1{
    font-size:  0.8rem;
    letter-spacing: 0px;
    background-color: var(--black);
    color: var(--white);
}
#what-i-studied div div h2{
    font-size:  0.8rem;
    margin-top:0px;
    letter-spacing: 0px;
    background-color: var(--black);
    color: var(--white);
}
.point-of-study div p{
    font-size: 0.7rem;
    letter-spacing: 0px;
    background-color: var(--black);
    color: var(--white);
}
.point-of-study{
    z-index: 0;
    margin-top: 10px;
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 12px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-book{
    position: absolute;
    right: 200px;
    top: 800px;
    background-color: transparent;
    width: 150px;
    z-index: 4;
}
#img-pc{
    position: absolute;
    right: -30px;
    top: 1200px;
    background-color: transparent;
    width: 150px;
    z-index: 4 !important; 
}
#img-laptop{
    position: absolute;
    z-index: 4;
    right: 510px;
    top: 1100px;
    background-color: transparent;
    width: 150px;
}
.logoSena{
    margin-left: 40px;
    position: inherit;
    width: 50px;
}
.logoPlatzi{
    margin-left: 10px;
    position: inherit;
    width: 80px;
}

#estudio-title{
    display: flexbox;
    margin-left: -50px;
    align-content: center;
}
#light-blue3{
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 2000px;
    right: -1400px;
    width: 1800px;
    background-color: transparent;
    opacity: .5;
    z-index: 4;
}
#light-purple3{
    user-select: none;
    position: absolute;
    top: 2600px;
    left: -800px;
    width: 1300px;
    background-color: transparent;
    opacity: .4;
    pointer-events: none;
    z-index: 4;
}

/* ==== CONTACT ME ====*/

#contact-me{
    position: relative;
    background-color: var(--dark-blue);
    width: 100vw;
    height: 95vh;
    margin-top: -80px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-me div{
    margin-left: -40px;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    margin-right: 60px
}
#contact-me div h1{
    font-weight: var(--title-size);
    font-size: 6vw;
    letter-spacing: -6px;
    color: var(--white);
    background-color: var(--dark-blue);
}
#contact-me div h2{
    margin-left: 40px;
    font-weight: var(--subtitle-size);
    font-size: 2vw;
    color: var(--white);
    background-color: var(--dark-blue);
}
#contact-me form{
    margin-top:80px;
    background-color: var(--dark-blue);
}
#contact-me input{
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 14px 100px 14px 20px;
    border-radius: 100px;
    color: var(--white);
}
#contact-me input:nth-child(3){
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 14px 100px 130px 20px;
    border-radius: 20px;
    color: var(--white);
}
#contact-me input:nth-child(4){
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 12px 14px;
    border-radius: 160px;
    font-weight: 600;
    font-size: 1vw;
    color: var(--blue);
    cursor: pointer;
    transition: transform 0.3s;
    will-change: transform;
}
#contact-me input:nth-child(4):hover{
    transform: scale(1.05);
}

#contact-me input::placeholder{
    font-family: poppins;
    color: var(--white);
}
#contact-me input:active{
    border: 1px solid white;
}

/* ==== FOOTER ====*/

footer{
    width: 100%;
    height: 8vh;
    background-color: var(--black);
    align-content: center;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}
footer div{
    display: inline-block;
    width: auto;
}
.ri-github-fill{
    color: var(--white);
    font-size: 6vh;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.3s;
}

.ri-github-fill:not(:hover){
    transition: 0.3s
}
.ri-github-fill:hover{
    font-size: 6.5vh;
    color: var(--dark-blue)
}
a{
    text-decoration: none;
}